* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bellota", system-ui;
    font-family: "Italiana", sans-serif;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30%;
    justify-content: center;
    font-size: small;


}

.card {
    width: 350px;
    height: 500px;
    background-color: #F0E6D5;
    border-radius: 40px;
    text-align: center;
    border: 1px solid #60340C;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 100px;
    box-shadow: 0 4px 4px 2px #00000025;
  font-family: "Italiana", sans-serif;

}

.card img {
    width: 100%;
    border-radius: 40px;
    margin: 20px;
}

.card p,
.card span {
    font-size: 18px;
    width: 90%;
}

.whatsapp {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: transform 0.5s ease-in-out,
        filter 0.5s ease-in-out;
}

.whatsapp img {
    width: 80px;
    filter: drop-shadow(0 5px 1px #00000025);
}

.whatsapp:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 10px 2px #00000025);
}

.secao_cards {
    width: calc(100% - 360PX);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10%;
    
}