* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --arredondamento: 10px;
  --sombra: 0 4px 4px 2px #00000025;
}

body {
  background-color: #ad2718;
}

header {
  background-color: #747F42;
  height: 74px;
}



.container_cabecalho {
  display: flex;
  justify-content: space-between;
  width: 50px;
  max-width: 1440px;
  margin: 90;
  height: 95px;
  align-items: center;
}



.logo {
  height: 60px;
}


.acessivel {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.main_cadastro {
  background-image: url("../assets/Copilot_20250820_142656\ 4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: "Italiana", sans-serif;

}


/* CADASTRO */
.container_lista,
.container_cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.container_lista h2,
.container_cadastro h2 {
  font-size: 64px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 500;
}

.box_cadastro {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
}

.cadastro_coluna1 {
  width: 45%;
}

.cadastro_coluna2 {
  width: 45%;
}

.produto,
.cadastro_coluna2,
.valor,
.img,
.categoria {
  display: flex;
  flex-direction: column;
}

.valor_img {
  display: flex;
  justify-content: space-between;
}

.box_cadastro label {
  font-size: 34px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.box_cadastro input[type="text"],
.box_cadastro textarea {
  border-radius: 30px;
  background-color: #B3B3B3;
  font-size: 13px;
  padding: 0 10px;
  border: none;
}

.box_cadastro input[type="text"] {
  height: 38px;
  margin-bottom: 20px;
  font-size: 20px;
}

.categoria {
  /* width: 70%; */
  
}


.box_cadastro textarea {
  resize: none;
  height: 230px;
  width: 100%;
  padding: 5px 10px;
  font-size: 20px;
}

.container_cadastro input[type="button"] {
  font-size: 40px;
  margin: 100px 0;
  border-radius: 20px;
  border: none;
  background-color: #B3B3B3;
  padding: 20px 200px;
  cursor: pointer;
  font-family: "Italiana", sans-serif;
}

.img {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.img svg {
  width: 30px;
}

input[type="file"] {
  display: none;
}

.img div {
  background-color: #ffffff;
  border-radius: 20px;
  background-color: #B3B3B3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.valor {
  width: 70%;
}

.icone_seta {
  height: 50px;
  cursor: pointer;
  left: 42px;
  top: 13px;
  position: absolute;
}

.rodape {
  width: 100%;
  height: 60px;
  background-color: #ad2718;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Julius Sans One", sans-serif;
  left: 468px;
  top: 909px;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  table {
    width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .box_cadastro {
    flex-direction: column;
    align-items: center;
  }

  .cadastro_coluna1,
  .cadastro_coluna2 {
    width: 90%;
  }

  .box_cadastro label{
    font-size: 24px;
  }

  .container_cadastro input[type="button"]{
    padding: 20px 120px;
  }
}

@media screen and (max-width: 500px) {
  .container_cadastro input[type="button"]{
    padding: 15px 80px;
    font-size: 30px;
  }
}

/* LISTA */
table {
  /* background-color: aquamarine; */
  width: 90%;
  max-width: 1200px;
  text-align: center;
  border-collapse: collapse;
}

th {
  border-bottom: solid 2px var(--corPrincipal);
  padding: 0 3px 5px 3px;
  font-size: 18px;
}

td {
  padding: 10px 3px 5px 3px;
  border-bottom: solid 2px #B3B3B350;
}

table svg {
  width: 30px;
  cursor: pointer;
}

 /* LISTA */
  table {
    text-align: left;
    max-width: 460px;
  }

  thead {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: var(--arredondamento);
    border: solid 1px var(--corPrincipal);
    box-shadow: var(--sombra);
  }

  td {
    border-bottom: none;
  }

  td::before {
    content: attr(data-cell);
    font-weight: 600;
    border-bottom: solid 2px #B3B3B350;
  }

  td:last-child {
    align-self: flex-end;
  }