* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bellota", system-ui;
}

:root {
  --arredondamento: 10px;
  --sombra: 0 4px 4px 2px #00000025;
}

body {
  background-color: #FCFCFC;
}

header {
  background-color: #747F42;
  height: 100px;
}

.box_busca {
  position: relative;
  width: 60%;
  max-width: 500px;
  margin: 0 10px;
}

.container_cabecalho {
  display: flex;
  justify-content: space-between;
  width: 50px;
  max-width: 1440px;
  margin: 90;
  height: 95px;
  align-items: center;
}

/* LISTA */
table {
  width: 90%;
  max-width: 1200px;
  text-align: center;
  border-collapse: collapse;
}


footer {
  display: block;
  unicode-bidi: isolate;
}

/* RODAPE */
footer {
  width: 100%;
  height: 60px;
  background-color: #AD271B;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  width: 100%;
}


.icone_seta {
  height: 50px;
  cursor: pointer;
   left: 176px;
  top: 30px;
  position: absolute;
}

.logo {
  height: 60px;
}

.acessivel {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

img {}

.icone_lupa {
  height: 50px;
  position: absolute;
  left: 467px;
  top: -17px;
  fill: #00000025;
  cursor: pointer;
  align-items: center;
}