* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bellota", system-ui;
}

:root {
  --arredondamento: 10px;
  --sombra: 0 4px 4px 2px #00000025;
}

body {
  background-color: #FCFCFC;
}

header {
  background-color: #747F42;
  height: 100px;
}

